GO
/****** Object:  StoredProcedure [dbo].[spHistoricoTurnoDashBoard]    Script Date: 26/12/2024 3:54:42 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[spHistoricoTurnoDashBoard]  
	@turno varchar(5) = null, 
	@idarea int = null, 
	@fechaini datetime = null, 
	@fechafin datetime = null,
	@JSONParams varchar(max)='',
	@IdTurno INT= null,
	@admin_user varchar(20) =''

as
/*
20/03/24 CN: Creacion
*/
---
declare @IdTurnoOrigen int
declare @TurnosAreas table ( Idx bigint identity, IdTurno bigint, IdArea int )

	if (isjson(@JSONParams) > 0)  
	begin 	
		select getdate ()   
		--	set @fechaini	= json_value(@JSONParams, '$.fecha') --+ '00:00:00'
		--	SET @fechafin	= JSON_VALUE(@JSONParams, '$.FechaIni')-- + '00:00:00'
			set @idturno	= json_value(@JSONParams, '$.IdTurno')-- + '00:00:00'
			set @admin_user	= json_value(@JSONParams, '$.admin_user')-- + '00:00:00'
    end


set @fechaini = isnull(@fechaini,dateadd(year,-1,getdate())) --+ '00:00:00' 
set @fechafin = isnull(@fechafin, getdate())   --dateadd(second, 86399, @fechaini)) 

if (select datepart(hour, @fechafin) ) = 0
    set @fechafin = dateadd(minute, 1439, @fechafin)
	
	
if isnull(@turno, '') <> ''
    begin
        if isnull(@idarea, '0') = '0'
            begin
                if len(@turno) <= 4
                    select top 1 @idarea = IdArea
                    from dbo.AreasTrabajos
                    where left(@turno, 1) = Letra
                else
                    select top 1 @idarea = IdArea
                    from dbo.AreasTrabajos
                    where left(@turno, 2) = Letra
            end

        IF LEN(@turno) <= 4
            SELECT @IdTurnoOrigen = IdTurnoOrigen
            FROM dbo.TurnosLog
            WHERE IdArea = @idarea
                  AND Turno = CONVERT(INT, STUFF(@turno, 1, 1, '0'))
                  AND GeneradoEn
                  BETWEEN @fechaini AND @fechafin
        ELSE
            SELECT @IdTurnoOrigen = IdTurnoOrigen
            FROM dbo.TurnosLog
            WHERE IdArea = @idarea
                  AND Turno = CONVERT(INT, STUFF(@turno, 1, 2, '0'))
                  AND GeneradoEn
                  BETWEEN @fechaini AND @fechafin
    END
	

	
IF isnull (@IdTurno,'') =''
	BEGIN
	insert into @TurnosAreas
	(
		IdTurno,
		IdArea
	)
	select IdTurno,
		   t.IdArea
	from TurnosLogDetalle t
		  join TurnosLog tl on tl.Id = t.IdTurno
		  join AreasTrabajos a on a.IdArea = t.IdArea
	where t.Estatus <> 'D'
		  and a.IdArea = isnull(@idarea, a.IdArea)
		  and GeneradoEn
		  between @fechaini and @fechafin
		  and t.IdTurno = isnull(@IdTurnoOrigen, t.IdTurno)

	 
	select			
		distinct convert(date, t.Fecha) as Fecha,
		t.IdTurno,
		t.Fecha as [Fecha Accion],
		t.FechaEnd as [Fecha Proxima Accion],
		concat(datediff(minute, t.Fecha, isnull(t.FechaEnd, getdate())), ' Min') as [Espera],
		concat(ata.Letra + replicate('0', 3 - len(tl.Turno)), tl.Turno) as Turno,
		t.Accion,
		t.Observacion,
		u.Nombre as Operador,
		ud.Nombre as [Operador Destino],
		a.Descripcion as Area,
		ad.Descripcion as [Area Destino],
		eo.Descripcion as Posicion,
		ed.Descripcion as [Posicion Destino]
	from dbo.TurnosLogDetalle t
		join dbo.TurnosLog tl on tl.IdTurnoOrigen = t.IdTurno  AND t.FechaEnd IS NULL AND t.Estatus <> 'D' AND t.Fecha IS NOT null
		join @TurnosAreas ta on ta.IdTurno = t.IdTurno
		left join dbo.Usuarios u on u.Id = t.IdUsuario
		left join dbo.Usuarios ud on t.IdUsuarioDestino = ud.Id
		left join dbo.AreasTrabajos a on a.IdArea = t.IdArea
		left join dbo.AreasTrabajos ata on ata.IdArea = ta.IdArea
		left join dbo.AreasTrabajos ad on t.IdAreaDestino = ad.IdArea
		left join dbo.Estaciones eo on eo.IdEstacion = t.IdOperador
		left join dbo.Estaciones ed on ed.IdEstacion = t.IdOperadorDestino
    end 
ELSE 
EXEC spc_reinicio_general_sistema_turnos_DashBoard @IdTurno,@admin_user


