USE [DbTurnosAsociacionMaguana]
GO
/****** Object:  StoredProcedure [dbo].[spc_GetAdminKeyDashBoard]    Script Date: 18/12/2024 4:46:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[spc_GetAdminUsersDashBoard]
as 
/* 
LS: 09/12/2024 - Creacion
LS: 17/12/2024 - Modificacion (devorver array JSON con header [admin_users])
LS: 18/12/2024 - Modificacion (Filtrar solo los activos)
*/
begin
 --select (select '1234' as [key] for json path, include_null_values) as JsonData 

select 
 (select 
  UserName [user]
  --Contrasena [key] 
  for json path, include_null_values) as [admin_users]
from [DbGlobalSecurity].[dbo].[Usuarios] where Activo = 1 

end
