USE [Dev_DbTurnosAsociacionMaguana]
GO
/****** Object:  StoredProcedure [dbo].[spc_reinicio_general_sistema_turnos_DashBoard]    Script Date: 26/12/2024 3:28:20 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spc_reinicio_general_sistema_turnos_DashBoard]
    @Turno int, 
	@admin_user varchar(20) =''

AS

/*---Procedimiento para declinar todos los turnos del lado del DashBoard
20/03/24 CN: Creacion
*/

DECLARE @TurnosAreas table ( IdArea int )


--IF ISNULL(@Turno, '') = @Turno
    UPDATE TurnosLog
    SET Status = 'D'
    WHERE Id =@Turno


INSERT INTO TurnosLogDetalle
(
    [IdTurno],
    [Fecha],
    [Estatus],
    [Accion],
    [Observacion],
    [IdUsuario],
    [IdUsuarioDestino],
    [IdArea],
    [IdAreaDestino],
    [IdOperador],
    [IdOperadorDestino],
    [FechaEnd]
)
SELECT IdTurno,
       GETDATE(),
       'D',
       'DECLINADO',
       'DECLINADO POR: '  + @admin_user,
       1,--IdUsuario,
       61,
       IdArea,
       IdAreaDestino,
       IdOperador,
       IdOperadorDestino,
       GETDATE()
FROM TurnosLogDetalle
WHERE IdTurno = @Turno


UPDATE TurnosColasAreas
SET Estatus = 'I'
WHERE IdTurnoOrigen = @Turno


UPDATE TurnosLogDetalle SET FechaEnd  = GETDATE()
WHERE IdTurno=@Turno




/* ---PENDIENTE MULTIAAREAS

insert INTO @TurnosAreas


select  t.IdArea
from TurnosLogDetalle t WHERE t.IdTurno =@Turno


UPDATE ControlTurnos
SET TurnoActual = UltimoTurno 
    
WHERE IdAreaServicio IN
      (
          SELECT c.IdAreaServicio
          FROM ControlTurnos c
              JOIN TurnosColasAreas t
                  ON c.IdAreaServicio = @TurnosAreas
               );


UPDATE TurnosMultiAreasDetalle
SET Estado =
    (
        SELECT TOP 1
               'I'
        FROM dbo.TurnosMultiAreas
        WHERE IdAreaDestino = @TurnosAreas
    )

  */



